.main {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding: 15px
}

.left {
    left: 0;
    width: 70%;
    background-color: bisque;
}

.right {
    right: 0;
    width: 26%;
    background-color: aliceblue;
}


p {
    margin: 0 0 0.8em;
    display:inline;
    white-space: pre-line;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 80px;
    text-align: left;
}
